# Will be using this for our project as of now
RSK_TESTNET_RPC_URL=your_alchemy_rsk_testnet_rpc_url

# As you guys know, we won't be needing mainnet RPC for the scope of this project,
# but I have still added it here for the sake of completion.
RSK_MAINNET_RPC_URL=your_alchemy_rsk_mainnet_rpc_url


PRIVATE_KEY=your_private_key_here