# Will be using this for our project as of now
RSK_TESTNET_RPC_URL=

# As you guys know, we won't be needing mainnet RPC for the scope of this project,
# but I have still added it here for the sake of completion.
RSK_MAINNET_RPC_URL=


PRIVATE_KEY=